extends ../_template

block variables
    - var title = 'Авторизация'

block content
    section.section.hero-avt
        video(src="./assets/night.mp4", width='110%', height='auto', autoplay='autoplay', loop='loop', preload='auto')

        .hero__bg-wel#parallax
            img.hero__bg-img(src="./assets/img/welc.png")#parallax_img
        .hero__container.hero__container-avt
            .avt__btn
                button(type='submit').avtorization
                    .avtorization__text Авторизоваться
            //a(href="#").avtorization
            //    .avtorization__btn
            //        .avtorization__text Авторизоваться
            .hero__title.card.effect__click
                .user.hero__user-avt.card__font
                    .hero__avt
                        .user__pic
                            img(src="./assets/img/photo1.png", alt="").user__pic-img
                        .user__description
                            .user__name Асия Муксимова
                            .user__desc Личный сайт разработчика
                        ul.socials
                            each item in ['vk', 'github', 'in']
                                li.socials__item
                                    a(href=`${item}`).socials__link
                                        svg.socials__img
                                            use(xlink:href="./assets/img/sprite.svg#" +`${item}`)
                    .welc__menu
                        a(href="./works.html").menu__col.menu__col-left
                            .menu__text
                                .menu__link Мои работы
                        a(href="./index.html").menu__col.menu__col-center
                            .menu__text
                                .menu__link Обо мне
                        a(href="./blog.html").menu__col.menu__col-right
                            .menu__text
                                .menu__link Блог
                .user.login__user.card__back
                    .login__avt
                        .login__hello Авторизуйтесь
                        .login__forms
                            input(type='text', name='name', placeholder= 'Логин' ).input__log.forms__name
                            input(type='text', name='pass', placeholder= 'Пароль').input__log.forms__pass
                            .form__ch
                                input(type='checkbox', name='ch', checked=false ).forms__robot-q
                                label Я человек
                            .forms__robot-text Вы не робот?
                            .forms__radio
                                input(type='radio', name='radio1', checked=false).forms__radio-q
                                label Да
                                input(type='radio', name='radio2', checked=false).forms__radio-q
                                label Не уверен
                    .login__menu
                        a(href="./works.html").login__col.login__col-left
                            .menu__text
                                .menu__link Войти
                        a(href="./blog.html").login__col.login__col-right
                            .menu__text
                                .menu__link На главную
        .footer.footer-welc
            .footer__row-welc.footer__text
                p © Асия Муксимова | создано с любовью в LoftSchool | 2016