extends ../_template

block variables
    - var title = 'Мои работы'

block content
    section.work__head
        img.blog__bg(src="./assets/img/bg_head.png")
        .hero__container
            .hero__menu
                ul.socials
                    each item in ['vk', 'github', 'in']
                        li.socials__item
                            a(href=`${item}`).socials__link
                                svg.socials__img
                                    use(xlink:href="./assets/img/sprite.svg#"+`${item}`)
                .hamburger
                    a(href='#').hamburger__link
                        i
                        //svg.hamburger__img
                        //    use(xlink:href="./assets/img/sprite.svg#hamburger")
            .hero__title
                .section-title
                    svg.section-title__pic
                        use(xlink:href="./assets/img/sprite.svg#stars1")
                .user.hero__user
                    .user__pic
                        img(src="./assets/img/photo1.png", alt="").user__pic-img
                    .user__description
                        .user__name Асия Муксимова
                        .user__desc Личный сайт разработчика
            .arrow-down.hero__scroll-button
                svg.arrow-down__pic
                    use(xlink:href="./assets/img/sprite.svg#arrow-down")
            nav.nav__menu
                .nav__container
                    ul.menu__list
                        -
                            var pages = [
                            ['Мои работы', './works.html'],
                            ['Обо мне', './index.html'],
                            ['Блог', './blog.html'],
                            ['Авторизация', './welcome.html']
                            ]
                        each item in pages
                            li.nav__item
                                a(href=`${item[1]}`).menu__link #{item[0]}

    section.section__work.works
        .triangle__left
            .triangle.triangle_fill_black.about__left-triangle
                svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
                    polygon(points="0,0 0,150 1000,150")

        .triangle__right
            .triangle.triangle_fill_black.about__left-triangle
                svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
                    polygon(points="1000,0 1000,150 0,150")
        .blog__title
            .work__title
                svg.work-title__pic-title
                    use(xlink:href="./assets/img/sprite.svg#stars2")
            .work__description-title
                .work__name Мои работы
        .works__content
            .works__left
                .works-slider__content
                    .works-slider__content-wrapper
                        .works-slider__display
                            img(src="", alt="").works-slider__display-pic
                        .works-slider__item-about
                            .works__subtitle.title__desc
                                .subtitle
                            .works__content-desc.title__desc-lg
                            .works__content-btn
                                a(href="#").works__content-view
                                    svg.btn__img
                                        use(xlink:href="./assets/img/sprite.svg#link")
                                    .btn__text Посмотреть сайт

            .works__right
                .works-slider
                    .works-slider__controls
                        a(href="#").works-slider__control-btn.works-slider__control-btn_left
                            ul.works-slider__control-list
                                -
                                    var pages = [
                                    ['./assets/img/1.png', 'Агентсво интернет решений ITLoft', 'node', 'http://itloft.ru/'],
                                    ['./assets/img/2.png', 'Школа онлайн-образования LoftSchool', 'html5, CSS3, javascript, php', 'http://loftschool.com/'],
                                    ['./assets/img/3.png', 'Портал обучающих уроков LoftBlog', 'Ruby on Rails, javascript, RESTful', 'http://loftblog.ru/'],
                                    ['./assets/img/4.png', 'Сайт Атма йога', 'UX, design, seo', 'http://atmayoga.ru/']
                                    ]
                                each item in pages
                                    li.works-slider__control-item(data-full=`${item[0]}`, data-title=`${item[1]}`,data-skills=`${item[2]}`,data-link=`${item[3]}`)
                                        img.works-slider___control-img(src=`${item[0]}`)
                            .up__pic
                                svg.w-down__pic
                                    use(xlink:href="./assets/img/sprite.svg#arrow-down")
                        a(href="#").works-slider__control-btn.works-slider__control-btn_right
                            .up__pic
                                svg.w-down__pic
                                    use(xlink:href="./assets/img/sprite.svg#arrow-down")

    section.section__work.blog(style="background: url('./assets/img/works_bg.png') no-repeat;background-size: cover; background-position:center top;")
        .work__container(style='margin-bottom:185px;')
            .work__container-call
                .work__row.work__row-head
                    .work__row-headpic
                        svg.work__row-head__pic
                            use(xlink:href="./assets/img/sprite.svg#stars3")
                        .work__name-call что обо мне говорят
                .work__row.work__row-comment
                    .work__col-cont
                        .work__col-left
                            .comment__pic
                                img(src="./assets/img/avt1.jpg", alt="").comment__pic-img
                            .comment__description
                                .comment__descp Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .comment__name
                                    p Ковальчук Дмитрий
                                    p — основатель Loftschool
                    .work__col-cont
                        .work__col-right
                            .comment__pic
                                img(src="./assets/img/avt2.jpg", alt="").comment__pic-img
                            .comment__description
                                .comment__descp Этот код выдержеит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .comment__name
                                    p Сабанцев Владимир
                                    p — преподаватель
                .work__row.work__row-call
                    .work__col-call
                       .call__title
                           .call__title-head Связаться со мной
                           .call__input
                               input(type='text', name='name', placeholder= 'Ваше имя').input__coll.input__coll-name#inputName
                               .errorInput#errorInputName Вы не ввели имя
                               input(type='mail', name='name', placeholder= 'Ваш email').input__coll.input__coll-mail#inputMail
                               .errorInput#errorInputMail Вы не ввели email
                               input(type='textarea', name='name', placeholder= 'Ваше сообщение', rows=45).input__coll.input__coll-text#inputText
                               .errorInput#errorInputText Вы не ввели сообщение
                       .welc__menu
                           button(type='submit').menu__call-send#sendlink
                               .menu__text
                                   .menu__link Отправить
                           a(href="#").menu__call
                               .menu__text
                                   .menu__link Очистить
                .work__row
                    .work__row-head
                        .work__up
                            svg.arrow-up__pic
                                use(xlink:href="./assets/img/sprite.svg#arrow-down")
    footer.footer
        .footer__row
            .footer__col.footer__col-left
                .footer__text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer__col.footer__col-center
                .footer__menu
                    nav.menu
                        ul.contacts__list
                            -
                                var pages = [
                                ['Мои работы', './works.html'],
                                ['Обо мне', './index.html'],
                                ['Блог', './blog.html']
                                ]
                            each item in pages
                                li.menu__item
                                    a(href=`${item[1]}`).menu__link #{item[0]}
                .footer__socials
                    ul.socials
                        each item in ['vk', 'github', 'in']
                            li.socials__item
                                a(href=`${item}`).socials__link
                                    svg.socials__img
                                        use(xlink:href="./assets/img/sprite.svg#" +`${item}`)
                .socials.socials_rounded
            .footer__col.footer__col-right
                ul.footer__text
                    li skype_kdn
                    li astahov@gmail.com
                    li +7 931 200 93 24
                    li Новосибирск, ул. Инская, д.14
        .footer__row-last.footer__text
            p © Асия Муксимова | создано с любовью в LoftSchool | 2016